body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.containerEditProfile {
  width: 200%;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  background-image: linear-gradient(to top right, #61e1db, #2486a5);
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
  height: 500;
  box-sizing: border-box;
  max-height: 100vh; /* Ensure it fits within the viewport height */
}
/* Header */
.editProfile {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

/* Labels */
.editProfileLabel {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  display: block;
}

/* Inputs */
.editProfileInput {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #61e1db;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: #fff;
  color: #2486a5;
}

.editProfileInput:focus {
  border-color: #2486a5;
  outline: none;
  box-shadow: 0 0 5px rgba(36, 134, 165, 0.5);
}

/* Update User Information Button */
.editProfileButton {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: #61e1db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.editProfileButton:hover {
  background-color: #2486a5;
}

/* Updated Message */
.UpdateInfoSuccess {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #61e1db;
  margin-top: 10px;
}

