
.containerEditProfile {
    background-color: #ffffff;
    border: 2px solid #2486a5;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

/* input[type="text"]{
    display: flex;
    flex-direction: column;
    justify-content: center;


} */

/* #editProfile{
    display: flex;
    justify-content: center;
} */