body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px 0;
}

.containerEditProfile {
  width: 800px; /* Increased width for a wider box */
  padding: 40px;
  border-radius: 15px;
  background-image: linear-gradient(135deg, #1f7ea1, #84ada9);
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.editProfileButton {
  padding: 10px 20px;
  background-color: white; /* White background */
  color: black; /* Black text */
  border: 1px solid #ccc; /* Light border to define button shape */
  cursor: pointer;
  border-radius: 5px;
}

.editProfile {
  text-align: center;
  font-size: 2rem;
}

.inputGroup {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.inputField {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editProfileLabel {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.editProfileInput {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.updateButton {
  background-color: white; /* White background */
  color: black; /* Black text */
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border: 1px solid #ccc; /* Light border */
}

.UpdateInfoSuccess {
  text-align: center;
  margin-top: 10px;
  color: green;
  font-size: 1rem;
}
